In [141]:
import pandas as pd

df1= pd.read_csv("budget_data_1.csv")
#df2= pd.read_csv("budget_data_2.csv")
#df1['Month'] = df1['Date'].map(lambda x: x.split("-")[0])
#df1['Year'] = df1['Date'].map(lambda x: x.split("-")[1])
months = df1["Date"].count()
revenue1= df1["Revenue"].sum()
ave= df1["Revenue"].mean()
ave1 = round(int(ave))
Max_reve= df1["Revenue"].max()
Min_reve= df1["Revenue"].min()

Mini_revenue = df1['Revenue'] #.tolist()
Max_date = df1['Date'] #.tolist()

ok_Minidate = dict(zip(Mini_revenue, Max_date)).get(Min_reve,"")
ok_Max_date = dict(zip(Mini_revenue, Max_date)).get(Max_reve,"")


print("Total Months:", months)
print("Total Revenue:","$",revenue1)
print("Average Revenue Change:","$",ave1)
print("Greatest Increase in Revenue:",ok_Max_date,"($",Max_reve,")")
print("Greatest Decrease in Revenue",ok_Minidate,"($",Min_reve,")")

Total Months: 41
Total Revenue: $ 18971412
Average Revenue Change: $ 462717
Greatest Increase in Revenue: Sep-15 ($ 1195111 )
Greatest Decrease in Revenue Aug-14 ($ -1172384 )

In [146]:
with open('pybank_results.txt' ,'w') as f:
    #f.write("Total Months: {} \n".format(months))
    #f.write("The Winner Is: {} \n".format(winner))
    #f.write("------------------------------- \n")
    f.write("Total Months: " + str(months) + "\n")
    f.write("Total Revenue: ${} \n".format(revenue1))
    f.write("Average Revenue Change: ${} \n".format(ave1))
    f.write("Greatest Increase in Revenue:{} ${}\n".format(ok_Max_date, Max_reve))
    f.write("Greatest Decrease in Revenue{} ${}\n".format(ok_Minidate, Min_reve))

In [115]:
df1.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [120]:
df10= pd.read_csv("budget_data_1.csv")

In [136]:
df10.shape[0]

41

In [131]:
import pandas as pd
import numpy as np
from collections import Counter

df10= pd.read_csv("budget_data_1.csv")
months_1 = Counter(df10.Date) #.most_common()
months_1
total_months = sum([x[1] for x in months_1])
total_months

#total_votes = sum([x[1] for x in votes])
#updated = [(x[0], x[1], x[1]/total_votes) for x in votes]
#print(updated)
#print(total_votes)
#winner = updated[0][0]
#print(winner)

Counter({'Apr-13': 1,
         'Apr-14': 1,
         'Apr-15': 1,
         'Aug-13': 1,
         'Aug-14': 1,
         'Aug-15': 1,
         'Dec-12': 1,
         'Dec-13': 1,
         'Dec-14': 1,
         'Dec-15': 1,
         'Feb-13': 1,
         'Feb-14': 1,
         'Feb-15': 1,
         'Feb-16': 1,
         'Jan-13': 1,
         'Jan-14': 1,
         'Jan-15': 1,
         'Jan-16': 1,
         'Jul-13': 1,
         'Jul-14': 1,
         'Jul-15': 1,
         'Jun-13': 1,
         'Jun-14': 1,
         'Jun-15': 1,
         'Mar-13': 1,
         'Mar-14': 1,
         'Mar-15': 1,
         'May-13': 1,
         'May-14': 1,
         'May-15': 1,
         'Nov-12': 1,
         'Nov-13': 1,
         'Nov-14': 1,
         'Nov-15': 1,
         'Oct-12': 1,
         'Oct-13': 1,
         'Oct-14': 1,
         'Oct-15': 1,
         'Sep-13': 1,
         'Sep-14': 1,
         'Sep-15': 1})

In [ ]:
df.

In [587]:

result = {}

result["Total Months:"]= months
result["Average Revenue Change: $"]=ave1
result["Total Revenue: $"]=revenue1
result["Greatest Increase in Revenue:"]= [ok_Max_date, Max_reve]
result["Greatest Decrease in Revenue"] = [ok_Minidate, Min_reve]

result


for item in result.items():
        a, b = item
        print(a,b)

Total Months: 41
Average Revenue Change: $ 462717
Total Revenue: $ 18971412
Greatest Increase in Revenue: ['Sep-15', 1195111]
Greatest Decrease in Revenue ['Aug-14', -1172384]

In [52]:
import pandas as pd
import numpy as np

#df2= pd.read_csv("budget_data_1.csv")
df2= pd.read_csv("budget_data_2.csv")
#df1['Month'] = df1['Date'].map(lambda x: x.split("-")[0])
#df1['Year'] = df1['Date'].map(lambda x: x.split("-")[1])
months2 = df2["Date"].count()
revenue2= df2["Revenue"].sum()
ave2= df2["Revenue"].mean()
ave22 = round(int(ave2))
Max_reve2= df2["Revenue"].max()
Min_reve2= df2["Revenue"].min()

Mini_revenue2 = df2['Revenue'] #.tolist()
Max_date2 = df2['Date'] #.tolist()

ok_Minidate2 = dict(zip(Mini_revenue2, Max_date2)).get(Min_reve2,"")
ok_Max_date2 = dict(zip(Mini_revenue2, Max_date2)).get(Max_reve2,"")


print("Total Months:", months2)
print("Total Revenue:$",revenue2)
print("Average Revenue Change:","$",ave22)
print("Greatest Increase in Revenue:",ok_Max_date2,"($",Max_reve2,")")
print("Greatest Decrease in Revenue",ok_Minidate2,"($",Min_reve2,")")

Total Months: 86
Total Revenue:$ 36973911
Average Revenue Change: $ 429929
Greatest Increase in Revenue: Mar-18 ($ 1141606 )
Greatest Decrease in Revenue Sep-18 ($ -1063151 )

In [110]:

result1 = {}

result1["Total Months:"]= months2
result1["Average Revenue Change: $"]=ave22
result1["Total Revenue: $"]=revenue2
result1["Greatest Increase in Revenue:"]= [ok_Max_date2, Max_reve2]
result1["Greatest Decrease in Revenue"] = [ok_Minidate2, Min_reve2]

result1

#for item in result1.items():
 #       a, b = item
  #      print(a,b)

{'Average Revenue Change: $': 429929,
 'Greatest Decrease in Revenue': ['Sep-18', -1063151],
 'Greatest Increase in Revenue:': ['Mar-18', 1141606],
 'Total Months:': 86,
 'Total Revenue: $': 36973911}

In [31]:
import pandas as pd
import numpy as np
df1= pd.read_csv("budget_data_1.csv")
df2= pd.read_csv("budget_data_2.csv")
mi_date = df2["Revenue"] == Min_reve2
ok2 = df2[mi_date].iloc[0]
ok10 = list(ok2)

In [34]:
ok10[0]

'Sep-18'